<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tmillot.MousePilot.Helper</string>
	<key>BundleProgram</key>
	<string>Contents/Library/LoginItems/MousePilotHelper.app/Contents/MacOS/MousePilotHelper</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Nice</key>
	<integer>-10</integer>
	<key>MachServices</key>
	<dict>
		<key>com.tmillot.MousePilot.Helper.xpc</key>
		<true/>
	</dict>
	<key>StandardErrorPath</key>
	<string>/dev/null</string>
	<key>StandardOutPath</key>
	<string>/dev/null</string>
</dict>
</plist>
